@media only screen and (max-width: 992px) {
    /* fetures */
    #features::before{
        display: none;
    }
    .lg-display-none {
        opacity: 1;
    }
    .inner_features {
        flex-direction: column;
    }
    .features_img{
        order: 3;
    }
    /* smart */
    #smart{
        padding-top: 40px;
    }
    
    #about::before {
        display: none;
    }
    .choose_content {
        max-width: 300px;
    }
    .lg-display-none{
        visibility: visible;
    }
    .inner_choose {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 60px;
    }
    .feature_content {
        max-width: 100%;
    }
    .feature_img::before {
        display: none;
    }
    .inner_feature {
        flex-direction: column;
    }
    .opacity1{
        display: none;
    }
    .client_bg::before {
        display: none;
    }
    .download_img::before {
        display: none;
    }
    #client{
        padding: 50px 0;
    }
    .client_content h2{
        font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    h1 {
        font-size: 55px;
        line-height: 65px;
    }
    p {
        font-size: 16px;
        
    }
    .inner-banner {
        flex-direction: column;
    }
    .banner_content {
        max-width: 100%;
        order: 3;
    }
    .banner_img{
        max-width: 100%;
    }
    .smart_heading {
       flex-direction: column;
    }
    .smart_content {
        margin-bottom: 20px;
    }
    .smart_heading h2 {
        max-width: 100%;
        padding-right: 0px;
    }
    .smart_heading p {
        max-width: 100%;
        margin-top: 25px;
    }
    .inner_about {
        flex-direction: column;
        align-items: flex-start;
    }
    .about_content{
        max-width: 100%;
        margin-top: 35px;
    }
    .inner_choose {
        grid-template-columns: 1fr 1fr;
        
        grid-gap: 60px;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .banner_content {
        max-width: 100%;
        order: 3;
    }
    h1 {
        font-size: 33px;
        line-height: 45px;
    }
    .video_btn {
        margin-left: 0px;
        display: block;
    }
    .mb-40 {
        margin-bottom: 20px;
    }
    .smart_heading h2 {
        font-size: 30px;
    }
    .about_content h3{
        font-size: 30px;
        margin-top: 30px;
    }
    .inner_choose {
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }
    .choose_content{
        max-width: 100%;
    }
    .feature_box {
        grid-template-columns: 1fr;
       
    }
    .feature_content h3 {
        font-size: 30px;
    }
    .ml-30.price_button {
        margin-left: 10px;
    }
    .price_button::before {
        width: 284px;
        left: -280%;
    }
  }